/* 
    Created on : Mar 5, 2017, 3:11:23 PM
    Author     : mauletj
*/

/* Determines background color of Tune Composition pane */
.compositionPane {
    -fx-background-color: lavender;
}

.strokeRed{
    -fx-stroke: crimson;
    -fx-stroke-width: 2px;
}

.dashed{
    -fx-fill: transparent;
    -fx-stroke-dash-array: 8 3 8 3;
}

.strokeBlack{
    -fx-stroke: black;   
    -fx-stroke-width: 2px;
}

.selectRect{
    -fx-stroke: chartreuse;
    -fx-fill: transparent;
}

/* Determines color of moving line that signifies time */
.redLine{
    -fx-stroke: crimson;
    -fx-stroke-width: 2px;
}

/* Determines text and rectangle fill color of Piano notes */
.pianoButton{
    -fx-text-fill: olivedrab;
    -fx-fill: olivedrab;
}

/* Determines text and rectangle fill color of Piano notes */
.harpsichordButton{
    -fx-text-fill: lawngreen;
    -fx-fill: lawngreen;
}

/* Determines text and rectangle fill color of Marimba notes */
.marimbaButton{
    -fx-text-fill: seagreen;
    -fx-fill: seagreen;
}

/* Determines text and rectangle fill color of Organ notes */
.organButton{
    -fx-text-fill: lightskyblue;
    -fx-fill: lightskyblue;
}

/* Determines text and rectangle fill color of Accordion notes */
.accordionButton{
    -fx-text-fill: aqua;
    -fx-fill: aqua;
}

/* Determines text and rectangle fill color of Guitar notes */
.guitarButton{
    -fx-text-fill: deepskyblue;
    -fx-fill: deepskyblue;
}

/* Determines text and rectangle fill color of Violin notes */
.violinButton{
    -fx-text-fill: steelblue;
    -fx-fill: steelblue;
}

/* Determines text and rectangle fill color of French Horn notes */
.frenchHornButton{
    -fx-text-fill: purple;
    -fx-fill: purple;
}

/* Determines text and rectangle fill color of Choir notes */
.choirButton{
    -fx-text-fill: orangered;
    -fx-fill: orangered;
}

/* Determines text and rectangle fill color of Typewriter notes */
.typewriterButton{
    -fx-text-fill: grey;
    -fx-fill: grey;
}

/* Determines text and rectangle fill color of Applause notes */
.applauseButton{
    -fx-text-fill: saddlebrown;
    -fx-fill: saddlebrown;
}


