/* 
    Authors: Tyler Maule, Jingyuan Wang, Kaylin Jarriel
*/

/* Determines background color of Tune Composition pane */
.compositionPane {
    -fx-background-color: lavender;
}

/* Determines the stroke for unselected rectangles. */
.strokeBlack{
    -fx-stroke: black;   
    -fx-stroke-width: 2px;
}

/* Determines the stroke if the rectangle is selected. */
.strokeRed{
    -fx-stroke: crimson;
    -fx-stroke-width: 2px;
}

/* Determines the dashed line for unselected gestures. */
.unselectedGesture{
    -fx-stroke: black;
    -fx-fill: transparent;
    -fx-stroke-dash-array: 8 3 8 3;
}

/* Determines the dashed line for selected gestures. */
.selectedGesture{
    -fx-stroke: red;
    -fx-fill: transparent;
    -fx-stroke-dash-array: 8 3 8 3;

}

/* Determines the outline of the selection rectangle. */
.selectRect{
    -fx-stroke: midnightblue;
    -fx-fill: transparent;
    -fx-stroke-width: 2px;
}

/* Determines color of moving line that signifies time */
.redLine{
    -fx-stroke: crimson;
    -fx-stroke-width: 2px;
}





