/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2017, 3:11:23 PM
    Author     : mauletj
*/

/* Determines background color of Tune Composition pane */
.compositionPane {
    -fx-background-color: lavender;
}

.redLine{
    -fx-stroke: crimson;
    -fx-stroke-width: 2px;
}

.pianoButton{
    -fx-text-fill: olivedrab;
    -fx-fill:olivedrab;
}

.harpsichordButton{
    -fx-text-fill: lawngreen;
}

.marimbaButton{
    -fx-text-fill: seagreen;
}

.organButton{
    -fx-text-fill: lightskyblue;
}

.accordionButton{
    -fx-text-fill: aqua;
}

.guitarButton{
    -fx-text-fill: deepskyblue;
}

.violinButton{
    -fx-text-fill: steelblue;
}

.frenchHornButton{
    -fx-text-fill: purple;
}

.choirButton{
    -fx-text-fill: orangered;
}

.typewriterButton{
    -fx-text-fill: grey;
}

.applauseButton{
    -fx-text-fill: saddlebrown;
}


